</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyrigh &copy; 2020 <a href="https://christianwebdeveloper.com">Christian Web Developer</a></p>
  </div>
</div>
</body>
</html>