<%-include('partials/header', {title:"TenLand - Admin Page"});%>
<h1>Administrator Dashboard</h1>
<!-- need a place to add properties -->

<!-- include a message area, where messages from tenants show up -->

<!-- which tenants do I have? Who is paid up and who is not? -->

<%-include('partials/footer');%>