<%-include('partials/header', {title:"TenLand - Home"});%>
<h1>Welcome to TenLand</h1>
<p>TenLand is a tenant/landlord app, that allows users to search for housing in their local area, and/or manage their rental properties.</p>
<%-include('partials/footer');%>
