<%-include('partials/header', {title:"TenLand - Tenant Page"});%>
<h1>Tenant Dashboard</h1>
<p>What do you want to do?</p>
<!-- have a bunch of options: pay rent, search for new housing, message landlord, report an issue -->
<%-include('partials/footer');%>